<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Internal Page</title>
</head>
<body>
    <h1>Internal Page</h1>
    <button class="external">call external</button>
</body>
<script type="text/javascript">
    const button = document.querySelector(".external");

    button.addEventListener("click", async function (event) {
        try {
            const response = await fetch("http://localhost:8080/", {
                method: "GET",
                headers: { "Content-Type": "application/json" }
            });
            const data = await response.json();
            const message = data.message;

            console.log(message);
        }
        catch (error) {
            console.log(error)
        }
    })
</script>
</html>